:root {
  --dark: rgb(23, 24, 31);
  --pink: rgb(237, 128, 167);
  --yellow: rgb(119, 96, 71);
  --green: rgb(72, 120, 98);
  --white: rgb(197, 197, 199);
  --gray: rgb(102, 103, 110);
  --light-dark: #20212C;
}
