.section{
  max-width: 600px;
  margin: 0 auto;
  width: 100%;

  & .nameCollection{
    text-align: start;
    font-size: 28px;
    font-weight: 600;
  }

  .input{

    span{
      cursor: pointer;
      span svg{
        width: 24px;
        height: 24px;
      }
    }

    & input{
      padding-left: 10px;
      font-size: 18px;
    }
  }

  .listItem{
    article{
      width: 100%;
      text-align: start;
      padding-left: 10px;
    }
  }

}

.ant-input{
  padding-left: 20px;
}